@use "../base/variables";
@use "../utils/mixins";
@use "../utils/functions";

.result {
    p {
        @include mixins.text-preset();
        font-size: 6.5rem;

        span {
            color: variables.$primary-color;
        }

        @include mixins.respond-to(small) {
            font-size: 3.5rem;
        }
    }
}
